*.o
*.mod
*.exe
.DS_Store
nr
SPECTRA/CKC14/*
SPECTRA/C3K/*
OUTPUTS/*
CodeToDo.txt
runsps.f90
metalml.f90
colorteff.f90
bytype.f90
Makefile.prv
ISOCHRONES/MIST/*.sh
ISOCHRONES/MIST/*afe*
ISOCHRONES/MIST/v2
